.Footer {
    height: 7vh;
    width: 100%;
    background-color: rgb(25, 25, 25);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(109, 107, 107);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .fcontent {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      ul {
        display: flex;
        list-style-type: none;
        gap: 16px;
      }
    }
  
    @media (max-width: 768px) {
      .fcontent {
        width: 90%; 
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
      }
  
      ul {
        gap: 12px; 
        flex-direction: column; 
        align-items: center; 
      }
    }
  
    @media (max-width: 480px) {
      height: auto; 
      font-size: 12px; 
  
      .fcontent {
        width: 100%;
        padding: 0 10px; 
        flex-direction: column; 
        gap: 15px;
        text-align: center; 
      }
  
      ul {
        gap: 10px; 
        flex-direction: column;
        align-items: center;
      }
    }
  }
  